{% extends '/_layouts/base' %}

{% block content %}

<!--            -->
<!--   Header   -->
<!--            -->

<header class="page-header">
    <div class="header-container">
        <h1 class="page-title">
            {{ entry.pageTitle }}
        </h1>
    </div>
</header>

<!--            -->
<!--  Contact   -->
<!--            -->

<section class="page-section">
    <div class="section-container">
        <h3>{{ entry.bodyCopy }}</h3>
    </div>
</section>

{% endblock %}
